<div class="flex justify-cente items-center">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4  gap-4 m-auto">
        <app-product
          *ngFor="let product of products"
          [product]="product"
        ></app-product>
        <div class="fixed md:bottom-16 md:right-16 bottom-4 right-4">
          <button (click)="gotoCart()" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-4 px-6 rounded-full shadow-lg text-2xl">
            Cart (0)
          </button>
        </div>
    </div>
</div>