<div class="flex flex-col w-full h-full justify-center items-center">
    <h1 class="text-5xl font-bold m-6 mb-14">Welcome!</h1>
    <div class="flex flex-col mb-4 gap-4 w-full max-w-lg pb-10" [formGroup]="loginForm">
        <div class="w-full">
            <label for="username" class="block mb-1">Name</label>
            <input type="text" class="bg-gray-100 rounded-md p-2 w-full" pInputText placeholder="John Doe" formControlName="username" />
            <small class="p-error block pl-2 m-0" 
                *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.dirty"
            > Name is required</small>
        </div>
        <div class="w-full">
            <label for="email" class="block mb-1">Email</label>
            <input type="text" class="bg-gray-100 rounded-md p-2 w-full" pInputText placeholder="johndoe@email.com" formControlName="email" />
            <small class="p-error block pl-2 m-0" 
                *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.dirty"
            > Email is required</small>
        </div>
    </div>
    <p-footer class="flex flex-row flex-wrap gap-4 mt-5">
        <button
            type="button"
            pButton
            (click)="onCreateAccount()"
            label="Create account"
            [disabled]="!loginForm.valid"
            class=" bg-blue-400 rounded-md p-2 text-base text-white font-semibold hover:bg-green-300 shadow-md cursor-pointer"
        >
        </button>
        <button
            type="button"
            pButton
            (click)="onLogin()"
            label="Login"
            [disabled]="!loginForm.valid"
            class="px-6 bg-blue-500 rounded-md p-2 text-base text-white font-semibold hover:bg-green-400 shadow-md text-center cursor-pointer"
        ></button>
    </p-footer>
</div>