<div class="flex flex-col justify-center items-center">
    <h1 class="text-left text-3xl font-black mb-5">Shopping Cart</h1>
    <div class="flex flex-row gap-4 my-5">
      <input class="bg-gray-100 rounded-md p-2" placeholder="Type your address" type="email" name="email"/>
      <select class="bg-gray-100 rounded-md p-2">
        <option value="credit_card">Credit Card</option>
        <option value="debit_card">Debit Card</option>
        <option value="cash">Cash</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 m-auto mb-12">
        <app-cart-item
          *ngFor="let product of products"
          [product]="product"
        ></app-cart-item>
    </div>
    
    <div class="fixed md:bottom-16 md:right-16 bottom-4 right-4">
        <button (click)="goToOrders()" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-4 px-6 rounded-full shadow-lg text-xl">
          <p>Purchase</p> <p class="text-base font-semibold">Total: $110.0</p>
        </button>
    </div>
</div>