<div class="flex flex-col p-2 rounded-md flex-1 md:w-64 justify-between shadow-lg">
    <div>
        <div class="md:h-64 p-10 m-4" >
            <img class="object-contain" src={{product.image}} />
        </div>
        <h1 class="text-lg font-semibold max-h-24 text-ellipsis text-nowrap overflow-hidden">{{ product.title }}</h1>
        <div>
            <h2 class="text-sm bg-gray-100 font-serif w-fit px-1.5 py-1.5 mt-2 rounded-xl">{{ product.category }}</h2>
        </div>
    </div>
    <div class="w-full">
        <p class="text-3xl mb-2 font-black text-right">${{ product.price }}</p>
        <button *ngIf="product.selected" class="w-full bg-red-500 rounded-md p-2 text-white font-semibold hover:bg-red-400 shadow-md" (click)="removeCartItem(product)">Remove from cart</button>
        <button *ngIf="!product.selected" class="w-full bg-green-500 rounded-md p-2 text-white font-semibold hover:bg-green-400 shadow-md" (click)="addCartItem(product)">Add to cart</button>
    </div>
</div>

